body {
  background: rgb(220, 239, 245);
}

header > h1 {
  text-align: center;
  color: blue;
}

form {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  background: #74748C;
}

form > input {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  background: blue;
} 

button {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  color: #74748C;
  background: blue;
}

h2.error {
  color: red;
  font-size: 2rem;
}

h2.success {
  color: green;
  font-size: 2rem;
}